<div layout layout-sm="column">
  <div flex class="teamDetailBaseData" md-theme="ioPurple">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2>Base Data</h2>
        <div flex></div>
      </div>
    </md-toolbar>
    <md-content md-theme="ioPurple" layout-padding>
      <md-input-container>
        <label>Team name</label>
        <input required ng-model="vm.team.Name" />
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <textarea ng-model="vm.team.Description"></textarea>
      </md-input-container>
      <md-input-container class="md-input-has-value">
        <label style="margin-bottom: -27px">Teamlead</label>
        <md-select placeholder="Teamlead" ng-model="vm.teamlead.selectedItem">
          <md-option value="0">None</md-option>
          <md-option ng-repeat="member in vm.members" value="{{member.MemberId}}">{{member.Firstname}} {{member.Lastname}}</md-option>
        </md-select>
      </md-input-container>
      <div class="md-actions" layout>
        <div flex></div>
        <md-button ng-click="vm.updateTeam()">Save</md-button>
      </div>
    </md-content>
  </div>
  <div flex>
    <h1>Team members</h1>
  </div>
</div>
<div layout layout-sm="column" layout-padding>
  <div flex>
    <h1>Projects</h1>
  </div>
  <div flex>
    <h1>Customers</h1>
  </div>
</div>
