<div layout="row" layout-padding>
  <div flex>
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <h2>Teams</h2>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="team in vm.teams" ng-click="vm.goToTeam(team, $event)">
        <div class="md-list-item-text">
          <h3>{{::team.Name}}</h3>
          <p ng-show="vm.getTeamlead(team)">Teamlead: {{::vm.getTeamlead(team).Firstname}} {{::vm.getTeamlead(team).Lastname}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
