<md-content flex ng-controller="SidenavController as vm">
  <md-list>
    <md-list-item>
      <md-button ui-sref="teams" class="md-primary md-hue-2" style="display: block; width: 100%; text-align: left;">Primary Hue 1</md-button>
    </md-list-item>
    <md-list-item>
      <a ui-sref="CRM">CRM</a>
    </md-list-item>
    <md-list-item>
      <a ui-sref="projects">Projects</a>
    </md-list-item>
    <md-list-item>
      <a ui-sref="reports">Reports</a>
    </md-list-item>
  </md-list>
</md-content>
