<md-toolbar md-scroll-shrink ng-controller="TopnavController as vm">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button">
      <md-icon md-font-library="material-icons" class="md-light md-48">menu</md-icon>
    </md-button>
    <h1>Stack.io</h1>
    <span flex></span>
    <div class="label">{{vm.user.name.first}} {{vm.user.name.last}}</div>
    <md-button class="md-fab md-primary" aria-label="{{::vm.user.name.first}} {{::vm.user.name.last}}" ng-click="vm.showDialog()">
      <img ng-src="{{vm.user.picture.medium}}" class="face" />
    </md-button>
  </div>
</md-toolbar>
