<md-toolbar class="md-accent header">
  <div class="md-toolbar-tools">
    <span flex=""></span>
    <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
      <md-icon md-font-library="material-icons" ng-click="vm.close()">close</md-icon>
    </md-button>
  </div>
  <div layout="row">
    <img ng-src="{{vm.user.picture.medium}}" class="face large center" />
  </div>
  <div layout="row" layout-align="center center">
    <h1 class="md-headline">{{::vm.user.name.first}} {{::vm.user.name.last}}</h1>
  </div>
</md-toolbar>
<md-dialog-content>
  johnny
</md-dialog-content>
