<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Stack.IO</title>
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body ng-app="app" layout="column">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Stack.io</h1>
      </div>
    </md-toolbar>
    <md-content md-scroll-y layout="row" layout-align="center center">
      <md-card flex flex-md="50" flex-gt-md="33">
        <md-card-content>
          <h1 class="md-title">Login</h1>
          <form name="loginForm">
            <md-input-container>
              <label>Username</label>
              <input name="username" ng-model="username" required minlength="4">
              <div ng-messages="loginForm.lastName.$error" ng-show="loginForm.lastName.$dirty">
                <div ng-message="required">This is required!</div>
                <div ng-message="minlength">That's too short!</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input type="password" ng-model="password" required>
            </md-input-container>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button>Login</md-button>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </md-content>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/src/client/app/app.module.js"></script>
    <!-- endinject -->

    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
